.cell{
    
    width:75px;
    height:75px;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
}
